version: '3.8'

services:
  mongo:
    image: mongo
    container_name: mongo_rs0
    hostname: mongo1
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'db.adminCommand(\"ping\")'"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s

  mongo-init:
    image: mongo
    depends_on:
      mongo:
        condition: service_healthy
    command: >
      mongosh --host mongo_rs0:27017 --eval 
      "try { rs.status(); print('Replica Set ya iniciado.'); } catch (err) { rs.initiate({_id: 'rs0', members: [{_id: 0, host: 'mongo1:27017'}]}); print('Replica Set iniciado correctamente.'); }"
    restart: "no"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: some-rabbit
    hostname: rabbitmq
    ports:
      - "8080:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: "alexwhitney845"
      RABBITMQ_DEFAULT_PASS: "lil123"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running", "-q"]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 20s
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  angular-app:
    image: alejandrop845/taskmanager-client:latest
    ports:
      - "4200:80"
    restart: always
    depends_on:
      taskmanager.users:
        condition: service_started

  taskmanager.users:
    image: alejandrop845/taskmanager-users:latest
    ports:
      - "7252:7252"
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy

    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7252
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0
      - Credentials__Email=${EMAIL}
      - Credentials__Password=${PASSWORD}

  taskmanager.groups:
    image: alejandrop845/taskmanager-groups:latest
    ports:
      - "8120:8120"
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:8120
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0
      - RabbitMq__HostName=rabbitmq

  taskmanager.groupsroles:
    image: alejandrop845/taskmanager-groupsroles:latest
    ports:
      - "7012:7012"
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7012
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0
      - RabbitMq__HostName=rabbitmq

  taskmanager.sprints:
    image: alejandrop845/taskmanager-sprints:latest
    ports:
      - "7088:7088"
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7088
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0
      - RabbitMq__HostName=rabbitmq

  taskmanager.tokens:
    image: alejandrop845/taskmanager-tokens:latest
    ports:
      - "7082:7082"
    depends_on:
      mongo:
        condition: service_started
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7082
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0

  taskmanager.authentication:
    image: alejandrop845/taskmanager-authentication:latest
    ports:
      - "7085:7085"
    depends_on:
      mongo:
        condition: service_started
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7085
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0

  taskmanager.chats:
    image: alejandrop845/taskmanager-chats:latest
    ports:
      - "7063:7063"
    depends_on:
      mongo:
        condition: service_started
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7063
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0

  taskmanager.tasks:
    image: alejandrop845/taskmanager-tasks:latest
    ports:
      - "7163:7163"
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7163
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0
      - RabbitMq__HostName=rabbitmq

  taskmanager.taskitems:
    image: alejandrop845/taskmanager-taskitems:latest
    ports:
      - "7197:7197"
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:7197
      - ConnectionStrings__MongoDb=mongodb://mongo1:27017/?replicaSet=rs0
      - RabbitMq__HostName=rabbitmq
      - Gemini__BaseAddress=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${GEMINI_API_KEY}

volumes:
  mongo-data:
  rabbitmq-data:
