<div class="forgot-password-container">

    <h3>
        <span *ngIf="!isSpanish">Recover account</span>
        <span *ngIf="isSpanish">Recuperar cuenta</span>
    </h3>
    
    <p>
        <span *ngIf="!isSpanish">Remember that for being able to recover your account, you should have provided an email when creating your account. If you haven't, your account cannot be recovered</span>
        <span *ngIf="isSpanish">Recuerda que para poder recuperar tu cuenta, debiste haber proporcionado un correo electrónico al crearla. Si no lo hiciste, no es posible recuperar la cuenta</span>
    </p>

    <div class="forgot-password-content" *ngIf="!waitingRecoveryCode">


        <div class="forgot-password-field">
            <label for="email">
                <span *ngIf="!isSpanish">Email</span>
                <span *ngIf="isSpanish">Correo</span>
            </label>
            <input type="text" maxlength="50" 
            [placeholder]="!isSpanish ? 'Type the email linked to your account':'Correo asociado a tu cuenta'" #inputEmailRef>
        </div>


        <div class="forgot-buttons-container">
            <button (click)="backToLogin()" *ngIf="!isSendingRecoverEmail">
                <span *ngIf="!isSpanish">Back</span>
                <span *ngIf="isSpanish">Atras</span>
            </button>
            <button (click)="onSubmit(inputEmailRef)">
                <span *ngIf="!isSpanish">Done</span>
                <span *ngIf="isSpanish">Hecho</span> 
                <i class="loading-icon" *ngIf="isSendingRecoverEmail"></i>
            </button>
        </div>
    </div>

    <div class="receive-code-container" *ngIf="waitingRecoveryCode">

        <p> 
            <span *ngIf="!isSpanish">If your email exists, we have sent a code</span>
            <span *ngIf="isSpanish">Si tu correo existe, hemos enviado un código</span>
            <i class="fa fa-solid fa-check"></i>
        </p>
        <div class="forgot-password-field">
            <label for="recoveryCode">
                <span *ngIf="!isSpanish">Recovery Code</span>
                <span *ngIf="isSpanish">Código de recuperación</span>
            </label>
            <input autocomplete="off" 
            type="text" 
            maxlength="50" 
            [placeholder]="!isSpanish?'Type the code we just sent to your email':'Ingresa el código que acabamos de enviar a tu email'" #inputRecoveryCode id="recoveryCode">
        </div>
        <div class="forgot-password-field">
            <label for="password1">
                <span *ngIf="!isSpanish">New password</span>
                <span *ngIf="isSpanish">Nueva contraseña</span>
            </label>
            <input autocomplete="off" type="text" maxlength="50" [placeholder]="!isSpanish?'New password':'Nueva contraseña'" #inputPassword1 id="password1">
        </div>
        <div class="forgot-password-field">
            <label for="password2">
                <span *ngIf="!isSpanish">New password again</span>
                <span *ngIf="isSpanish">Nueva contraseña de nuevo</span>
            </label>
            <input autocomplete="off" type="text" maxlength="50" [placeholder]="!isSpanish?'New password again':'Nueva contraseña de nuevo'" #inputPassword2 id="password2">
        </div>

        <div class="forgot-buttons-container">
            <button (click)="waitingRecoveryCode = false">
                <span *ngIf="!isSpanish">Back</span>
                <span *ngIf="isSpanish">Atrás</span>
            </button>
            <button (click)="onReceiveRecoveryCode(inputRecoveryCode.value, inputPassword1.value, inputPassword2.value)">
                Done <i class="loading-icon" *ngIf="isSendingRecoveryCode"></i>
            </button>
        </div>

    </div>

</div>

