<div class="popups-container" #element>
    @for (response of popup.responses; track $index) {
        <div class="popup-container" [@popupAnimation]>
            <div class="popup-content">
                <p>{{response.message}}</p>
                <i class="fa-solid fa-check bg-green" *ngIf="response.type === 's'"></i>
                <i class="fa-solid fa-xmark bg-red" *ngIf="response.type === 'e'"></i>
                <i class="fa-solid fa-info bg-gray" *ngIf="response.type === 'i'"></i>
            </div>
        </div>
    }
</div>

